<!doctype html>
<html lang="ru">
  <head>

  </head>


  <body>
        {% load static %}
    <link rel='stylesheet' href="{% static 'calories/css/base.css' %}" xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'calories/css/base.css'%}">
    <section>
      <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
            <li><a href="{% url 'calories' %}" class="nav-link px-2 link-dark">Контроль калорий</a></li>
            <li><a href="{% url 'telegram' %}" class="nav-link px-2 link-dark">Удобный телеграмм-бот</a></li>
            <li><a href="{% url 'contact' %}" class="nav-link px-2 link-dark">Контакты</a></li>
            <li><a href="{% url 'resume' %}" class="nav-link px-2 link-dark">Резюме</a></li>
          </ul>

          {% if request.user.is_authenticated %}
          <div class="col-md-3 text-end">
            <a href="###" class="btn btn-primary">Привет {{ username }}!</a>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Выйти</a>
          </div>
          {% else %}
          <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
          </div>
          {% endif %}

        </header>
      </div>
    </section>

    <section class="info">
      {% block content %}
      {% endblock %}
    </section>

    <footer class="my-own d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2022</span>
      </div>



      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>


  <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>