{% extends 'calories/base.html' %}

{% block content %}
<h1>Удобный телеграмм бот</h1>
<p>Телеграмм-бот который может:<ul>
    <li>прислать аудиодорожку нужного видео с YouTube</li>
    <li>запомнить ваши темы для поиска актуальных новостей</li>
    <li>запомнить город чтобы присылать вам актуальную погоду по вашему запросу</li>
    <li>прислать актуальный курс основных валют(Доллар, Евро, Биткоин)</li></ul>
<form action="http://t.me/Convenient_beta_Bot" method="get" target="_blank">
<button class="btn btn-link">Ссылка на телеграмм-бот</button>
</form>
{% endblock %}